.sidebar {
    background-color: #BC2323;
}

.hide {
    display: none;
}

#select-college {
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
}

.curriculumcode {
    width: 18%;
    border-color: white;
    border-radius: 5px;
    outline: gray;
    border-radius: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid;
    border-style: groove;
}

#picture {
    width: 500px;
}